<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>トップページ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!-- semantic.css  -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">

    <!-- semantic.js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

</head>

<body>
<!-- th:replaceを使用して、 メニュー用のフラグメントを読込みます -->
<div th:replace="common/menu :: menu_fragment"></div>


<div class="ui fluid container">
    <div class="ui vertical masthead center aligned segment">
        <div class="column">
            <div class="ui text container">
                <h1 class="ui header">[[${msg}]]</h1>
            </div>
        </div>
    </div>
    <div class="ui segments">
        <div class="ui red center aligned segment">
            <a href="/viewer">
                <h2 class="ui top header">表示
                    <div class="sub header">社員情報テーブルを表示します</div>
                </h2>
            </a>
        </div>
        <div class="ui orange center aligned segment">
            <a href="/register">
                <h2 class="ui header">登録
                    <div class="sub header">社員情報テーブルに登録します</div>
                </h2>
            </a>
        </div>
        <div class="ui yellow center aligned segment">
            <a href="/assigneeViewer">
                <h2 class="ui top header">配属先編集
                    <div class="sub header">配属先テーブルを表示します</div>
                </h2>
            </a>
        </div>
        <div class="ui olive center aligned segment">
            <a href="/salaryViewer">
                <h2 class="ui header">給与表示
                    <div class="sub header">給与情報を表示します</div>
                </h2>
            </a>
        </div>
    </div>
</div>

</body>
</html>